.my-bg-danger {
    background-color: #ffc1c1!important;
}

.my-bg-warning {
    background-color: #fff496!important;
}

html body .content-wraper {
    background-image: url("http://silaskar.dev.com/images/LOGO-PN-AMBON.png")!important;
}